/* .home{
    border: 4px solid black;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
} */
.home{
    /* border: 4px solid black; */
    margin-top: 50px ;
    background: cover;
    height: 620px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }