.ticketLayout{
    margin-top: 100px;
    margin-left: 60px;
    border: 1px solid gray;
	border-radius: 5px;
	background: linear-gradient(to right, #8e9ba3, #afc7d4); ;
    height: 200px;
}
.ticketLayout button{
	margin-top: 40px;
    border-radius: 20px;
	border: 1px solid #58a5d8;
	background-color: #426b9b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline: none;
}

@media screen and (max-width: 400px) {
	.ticketLayout {
         margin: 100px 10px 10px 40px !important;
		 padding: 10px 0;
	}
	.ticketLayout h2 {
		margin: 0px;
		font-size: 80%;
	}
}