ul li{
    text-decoration: none;
}
.nav{
    
    height: 20px;
    margin-left: 30px;
}
.nav li{
    margin-bottom: 20px;
    display: inline;
    margin-right: 50px; 
}
li img{
    margin-right: 310px;
    margin-left: 0;
    padding-right: 100px;
}

.loginBtn button{
    text-decoration: none;
    outline: none;
    padding: 5px 10px;
    background: rgb(98, 196, 196);
}

@media screen and (max-width: 400px){
    .nav li{
        display: inline;
        position: relative;
    }
}