
.nav{
    
    height: 20px;
    margin-left: 70px;
}
.nav li{
    margin-bottom: 20px;
    display: inline;
    margin-right: 50px; 
}
li img{
    margin-right: 450px;
    margin-left: 0;
    padding-right: 100px;
}

Link{
    color: rgb(71, 36, 36);
}
.nav Link{
    color: rgb(71, 36, 36);
    text-decoration: none;
    font-weight: bold;
}
.loginBtn button{
    outline: none;
    padding: 5px 10px;
    background: rgb(98, 196, 196);
}
  