.form{
    line-height: 0%;
    margin-left: 60px;
    margin-right: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    background-color: rgba(199, 193, 193, 0.609);
}
.form p{
    padding: 10px 10px;
}
.form input{
    width: 80%;
    margin-left: 20px;
}
.from button{
    margin-top: 20px;
    padding: 10px 50px;
}
.bookingTicket{
    margin-top: 100px;
   display: grid;
   display: flex;
}
.extraInfo{
    text-align: center;
}
.extraInfo p{
    font-weight: 800;
    color: rgb(121, 32, 32);
    text-decoration: underline;
}