.form{
    line-height: 0%;
    margin-left: 60px;
    margin-right: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    width: 250px;
    background-color: rgba(199, 193, 193, 0.609);
}
.ticketDetail{
    line-height: 0%;
    margin-left: 60px;
    margin-right: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 510px;
    width: 250px;
    background-color: rgba(199, 193, 193, 0.609);
}
.destination{
    border: 1px solid gray;
    background: rgba(228, 83, 31, 0.822);
    margin: 20px 20px;
    border-radius: 10px;
    padding: 10px 30px;
}
.ticketPrice{
    padding: 0 10px;
    border: 1px solid gray;
    margin: 5px 20px;
    background-color: rgb(155, 161, 167);
    border-radius: 10px;
}
.form p{
    margin: 20px 20px;
    padding: 10px 10px;
}
.form input{
    border: 0;
    border-radius: 10px;
    width: 50%;
    padding: 10px 20px;
    margin-left: 20px;
}
.searchBtn{
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    background-color: rgb(192, 137, 35);
    margin-top: 30px;
    padding: 10px 50px;
}
.bookingTicket{
    margin-top: 100px;
   display: grid;
   display: flex;
}
.extraInfo{
    text-align: center;
}
.extraInfo p{
    font-weight: 800;
    color: rgb(121, 32, 32);
    text-decoration: underline;
}
@media screen and (max-width: 400px){
    .bookingTicket{
        display: grid;
        grid-template-columns: min-content;
    }
    .mapImg{
        width: 80%;
        padding: 60px 45px;
    }
}